
@import "../components/bootstrap/less/bootstrap.less";
@icon-font-path: "../components/bootstrap/fonts/";

@fail-bg: @state-danger-bg;
@fail-text: @state-danger-text;
@success-bg: @state-success-bg;
@success-text: @state-success-text;

.tests {
  margin-top: 40px;
  .row {
    clear: both;
    margin-top: 20px;
    &:hover {
      background: #FCFCFC;
      cursor: pointer;
    }

    border-left: 4px solid transparent;

    &.fail.selected, &.bad.selected {
      border-left: 4px solid @fail-text;
      background:@fail-bg;
    }

    &.success.selected, &.good.selected {
      border-left: 4px solid @success-text;
      background:@success-bg;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    small {
      color: @gray-light;
    }

    img {
      padding: 10px;
      max-width: 70px;
      max-height: 70px;
    }
  }

  .test-details {

    margin: 0px -15px;
    background: #F7F7F9;
    padding: 20px;
    border-left: 4px solid #E9E9E9;
    text-align: center;

    .btn {
      min-width: 100px;
    }

    .frame {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 90%;
      max-height: 800px;
      position: relative;
      .image {
        min-height: 40px;
        display: none;
        top: 20px;
      }
      .original, .diff, .reference {
      }

    }
  }

  .status {
    width: 70px;
    height: 70px;
    background-color: #DFF0D8;
    text-align: center;
    padding-top: 6px;
    font-size: 45px;

    &.success, &.good {
      span.glyphicon {
        .glyphicon-ok;
      }
      color: @success-text;
      background: @success-bg;
    }

    &.bad, &.fail {
      padding-top: 10px;
      span.glyphicon {
        .glyphicon-remove;
      }
      color: @fail-text;
      background: @fail-bg;
    }
  }

  
}


