
@import "../components/bootstrap/less/bootstrap.less";
@icon-font-path: "../components/bootstrap/fonts/";

@fail-bg: @state-danger-bg;
@fail-text: @state-danger-text;
@success-bg: @state-success-bg;
@success-text: @state-success-text;

.build-status {
  margin-top: 48px;
  text-align: center;
  font-size: @font-size-h2;

  span.status {
    text-transform: capitalize;
    &.good, &.success {
      .label-success;
    }
    &.bad, &.fail {
      .label-danger; 
    }
    &.created {
      .label-info; 
    }
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  span.fails {
    .label-default;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: @gray-light;
  }
}
.row.header {
  border-bottom: 2px solid #ECECEC;
  height: 30px;
  text-align: center;
  font-size: @font-size-large;
  color: @gray-light;
}
.tests {
  margin-top: 40px;
 
  .row.test {
    clear: both;
    margin-top: 20px;
    &:hover {
      background: #FCFCFC;
      cursor: pointer;
    }

    border-left: 4px solid transparent;

    &.fail.selected, &.bad.selected {
      border-left: 4px solid @fail-text;
      background:@fail-bg;
    }

    &.success.selected, &.good.selected {
      border-left: 4px solid @success-text;
      background:@success-bg;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    small {
      color: @gray-light;
    }

    img {
      padding: 10px;
      max-width: 150px;
      max-height: 70px;
    }

    .mark-button {
      text-align: center;
      button {
        margin-top: 17px;
        span {
          margin-right: 5px;
          vertical-align: text-bottom;
          font-size: @font-size-large;
        }
      }
    }
  }

  .test-details {

    margin: 0px -15px;
    background: #F7F7F9;
    padding: 20px;
    border-left: 4px solid #E9E9E9;
    text-align: center;

    .btn {
      min-width: 100px;
    }

    .frame {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 90%;
      max-height: 800px;
      position: relative;
      .image {
        min-height: 40px;
        display: none;
        top: 20px;
      }
      .original, .diff, .reference {
      }

    }
  }
  .marked {
    position: absolute;
    top: 4px;
    font-size: 24px;
    color: @gray-dark;
  }
  .new-test {
    position: absolute;
    left: 0px;
    top: -10px;
    .new {
      color: white;
      font-size: 10px;
      font-weight: 800;
      position: absolute;
      top: 15px;
      left: 12px;
    }
    .glyphicon {
      font-size: 45px;
      color: @brand-warning;
    }
  }
  .status {
    width: 70px;
    height: 70px;
    background-color: #DFF0D8;
    text-align: center;
    padding-top: 6px;
    font-size: 45px;

    &.success, &.good {
      span.glyphicon {
        .glyphicon-ok;
      }
      color: @success-text;
      background: @success-bg;
    }

    &.bad, &.fail {
      padding-top: 10px;
      span.glyphicon {
        .glyphicon-remove;
      }
      color: @fail-text;
      background: @fail-bg;
    }
  }

  
}


