<div>
  <div class="row">
    <div class="col-md-6">
      <h1>
        <small><a href="#!/{{project}}/">Project: {{projectDisplayName}}</a></small><br/>
        Build #{{buildNumber}}
      </h1>
    </div>

    <div class="col-md-6">
     <div class="build-status">
      <span class="label status {{status}}">{{status}}</span><span class="label fails">Failing tests: {{numOfFailed}} / {{numOfTests}}</span>
     </div>
    </div>
  </div>

  <p></p>

  {{#if numOfTests}}
  <div class="row header">
    <div class="col-md-1">Test</div>
    <div class="col-md-5"></div>
    <div class="col-md-2">Captured</div>
    <div class="col-md-2">Diff</div>
    <div class="col-md-2">Action</div>
  </div>
  {{else}}
    <h2>No tests</h2>
  {{/if}}

  <div class="tests">
  </div>
</div>