<div>
  <div class="row">
    <div class="col-md-6">
      <h1>
        <small><a href="#!/{{project.name}}/">Project: {{project.displayName}}</a></small><br/>
        Build #{{build.buildNumber}}
      </h1>
    </div>

    <div class="col-md-6">
     <div class="build-status">
      <span class="label status {{build.status}}">{{build.status}}</span><span class="label fails">Failing tests: {{numOfFailed}} / {{tests.length}}</span>
     </div>
    </div>
  </div>


  <p></p>

  {{#if tests.length}}
  <div class="row header">
    <div class="col-md-1"></div>
    <div class="col-md-4"></div>
    <div class="col-md-2">Captured</div>
    <div class="col-md-2">Diff</div>
    <div class="col-md-2">Reference</div>
    <div class="col-md-1"></div>
  </div>
  {{else}}
    <h2>No tests</h2>
  {{/if}}

  <div class="tests">
  </div>
</div>