<div class="test-details" data-id="{{id}}">

  <div class="btn-group control-buttons">
    <button type="button" class="btn btn-default original">Captured</button>
    <button type="button" class="btn btn-default diff">Diff</button>
    <button type="button" class="btn btn-default reference">Reference</button>
  </div>

  <div class="frame">
    <div class="image original"> 
      <img src="/api/project/{{project}}/build/{{buildNumber}}/tests/{{testName}}/original">
    </div>
    <div class="image diff">
      <img src="/api/project/{{project}}/build/{{buildNumber}}/tests/{{testName}}/diff">
    </div>
    <div class="image reference"> 
      <img src="/api/project/{{project}}/build/{{buildNumber}}/tests/{{testName}}/reference">
    </div>
  </div>
 
</div>